@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background-image: url("https://eskipaper.com/images/flowers-grass-nature-1.jpg");
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0px;
  padding: 0px;
  color: transparent;
  font-family: 'Abril Fatface', cursive;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 50px;
  color: #fff;
}
h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 50px;
  color: #fff;
}
h6 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 50px;
  color: #fff;
}
img {
  width: 300px;
  border-radius: 20px;
}

ul {
  display: block;
  background-color: #cdd2d5;
  border: #000000;
  opacity: 0.9;
  text-align: center;
  border-radius: 75px;
  padding: 10px;
  border-style: double;
  border: 2px, #ffffff;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}
li {
  text-align: center;
  list-style-type: none;
  font-family: 'Playfair Display', serif;
}
button {
  display: inline-block;
  align-items: center;
  margin: auto 0;
  justify-content: center;
  cursor: pointer;
  border: 0.5 px solid gray;
  border-radius: 20px;
  box-shadow: 1px 5px lightgray;
  background-color: #ffffff;
  color: #000000;
  font-family: "Josefin Slab", serif;
  height: 50px;
  width: 100px;
}
a {
  color: #000;
}
